section.title {
    display: flex;
    
    margin: 20px 0;
    padding: 20px 152px;
  }
  .title__div {
    display: flex;
    flex-direction: column;
  }
  .title__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }
  .title__bio {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 0;
    width: 70%;
  }
  .title__subsection {
    padding-top: 3rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 0;
    width: 70%
    
  }
  .title__profile {
    width: 30%;
    margin-right: 17px;
    border-radius: 50%;
    
  }
  .title__network {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    gap: 32px;
    margin: 1rem;
  }

  
